@font-face {
    font-family: "iconfont"; /* Project id 3314162 */
    src: url('iconfont.woff2?t=1649767938335') format('woff2'),
    url('iconfont.woff?t=1649767938335') format('woff'),
    url('iconfont.ttf?t=1649767938335') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="arslinth-vue"], [class*=" arslinth-vue"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arslinth-vue-fullscreen:before {
    content: "\e607";
}

.arslinth-vue-search:before {
    content: "\e65a";
}

.arslinth-vue-fole-menu:before {
    content: "\e620";
}

.arslinth-vue-home:before {
    content: "\e605";
}

.arslinth-vue-quitfull:before {
    content: "\e638";
}

